@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-card-head-title{
  text-transform:capitalize;
}

.List{
  text-transform: capitalize;
}

/*Pokemon Types*/
.normal{
  background:#B7B7A9;
}

.poison{
  background: #A15796;
}

.psychic{
  background: #FA64B8;
}

.fire{
  background:#FA5541;
}

.grass{
  background:#8BD54E;
}

.water{
  background:#55AFFF;
}

.ground{
  background: #EFCE55;
}

.ice{
  background:#97F1FF;
}

.rock{
  background:#CFBE73;
}

.dragon{
  background:#8B77FF;
}

.bug{
  background: #C4D319;
}

.dark{
  background:#8E6955;
}

.fighting{
  background:#AA5743;
}

.ghost{
  background:#7A76D7;
}

.steel{
  background:#C5C3DA;
}

.flying{
  background:#7AA2FF;
}

.electric{
  background:#FDE337;
}

.fairy{
  background:#F6ACFF;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
